casadi==3.5.5.post2
colored_traceback==0.3.0
hydra-core==1.3.1
matplotlib==3.5.3
mpldatacursor==0.7.1
mpldatacursor_rcognita==0.7.2
numpy==1.20.3
omegaconf==2.3.0
pickle5==0.0.11
recursive_monkey_patch==0.4.0
rospy==1.15.15
scipy==1.6.2
sensor_msgs==1.13.1
setuptools==65.6.3
Shapely==1.7.1
svgpath2mpl==0.2.1
tabulate==0.8.7
tf==1.13.2
torch==1.12.1
